.add-btn{
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 3px;
    background-color: $color--blue;
    color: $color--white;
    cursor: pointer;

    &:disabled{
        background-color: rgba($color--blue , .5);
    }
}


.cancel-btn{
   padding: .5rem;
    display: inline-block;
    background-color: transparent;
    border:none;
    font-size: 2.3rem;
    cursor: pointer;
    
}



#add-list__creat{
    padding: 1rem;
    width: 100%;
    background-color: rgba($color--white , .3);
    border: none;
    border-radius: 3px;
    font-size: 1.7rem;
    color: $color--white;
    text-align: left;
    cursor: pointer;
}


#add-card__creat{
    padding: 1rem;
    width: 100%;
    background-color: $color--grey-light;
    border: none;
    border-radius: 3px;
    font-size: 1.6rem;
    color: rgba($color--black , .5);
    text-align: left;
    cursor: pointer;
    position: sticky;
    bottom: -1.55rem;
    z-index: 10;

    &:hover{
        background-color: $color--grey;
        color: rgba($color--black , .7);
    }
}